mixin card(title, text, icon)
    .card.rounded-4.swiper-slide
        .card-body.p-4.p-md-5
            .d-flex.align-items-center.mb-4
                .flex-shrink-0.boxed-icon.bg-primary.text-white.rounded-3.me-3
                    i.bi(class=icon)
                .h3.fw-bolder.mb-0
                    span.text-break.d-inline=title
            span=text


section.py-5
    .container.px-3.px-md-5
        include common/section-title
        +section-title("О нас")
        #general-swiper.swiper
            .swiper-wrapper
                +card("Опыт более 5 лет", "Опыт эффективной и безопасной эвакуации различных видов техники с учетом всех технических особенностей.", "bi bi-clock-history")
                +card("Профессиональный подход", "Наш опытный персонал обладает широкими знаниями и навыками в области эвакуации техники, что позволяет нам выполнять задачи качественно и безопасно.", "bi bi-person-fill")
                +card("Гибкий график работы", "Мы работаем круглосуточно и готовы предоставить услуги по эвакуации техники в удобное для вас время, даже в выходные и праздничные дни.", "bi bi-calendar2-range-fill")
                +card("Широкий спектр услуг", "Мы предлагаем не только эвакуацию различных видов техники, но и дополнительные услуги по транспортировке, консультированию и поддержке клиентов.", "bi bi-tools")
                +card("Ответственный подход к работе", "Мы ценим доверие нашdих клиентов и всегда стремимся к четкому выполнению задач, обеспечивая сохранность и целостность перевозимой техники.", "bi bi-emoji-smile-fill")
            include common/swiper-nav