header.header.py-5.bg-primary.bg-opacity-10
    .container.px-3.px-md-5.py-5
        .row.gx-5.align-items-center
            .col-xxl-5
                .text-center.text-xxl-start
                    .fs-3.fw-light.text-muted Безопасно. Быстро. Надежно.
                    h1.display-3.fw-bolder.mb-5
                        span.d-inline Подача за 10-15 минут!
                    .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                        a.btn.btn-primary.btn-lg.px-5.py-3.fs-6.fw-bolder(href="tel:+74951234567") Позвонить: +74951234567
            .col-xxl-7.mt-5.mt-xxl-0
                .d-flex.flex-column.align-items-center
                    include common/yandex-map
                    