mixin item(title)
    .d-flex.align-items-center
        i.bi.bi-check-circle-fill.text-primary.me-3
        span.fs-3.fw-medium=title

section#location.py-5
    .container.px-3.px-md-5.scroll-tr
        include common/section-title
        +section-title("Где работаем")
        .d-flex.flex-column.align-items-center.gap-2 
            +item("Абинск")
            .vertical-line
            +item("Холмская")
            .vertical-line
            +item("Ахтырский")
            .vertical-line
            +item("Ильская")
            .vertical-line
            +item("Крымск")