mixin card(img, title, text)
    .card.rounded-4.swiper-slide
        .card-image
            img.w-100(src=img)
        .card-body.text-center
            span.card-title.fs-5=title

section.py-5
    .container.px-3.px-md-5
        include common/section-title
        +section-title("Перевозимая техника")
        #objects-swiper.swiper
            .swiper-wrapper
                +card("@img/bike.jpg", "Мототехника")
                +card("@img/passenger.jpg", "Легковые авто")
                +card("@img/offroad.jpg", "Внедорожники")
                +card("@img/bus.jpg", "Микроавтобусы")
            include common/swiper-nav