mixin table-item(text, price)
    tr
        td=text 
        td.fw-bolder=price




section.bg-primary.bg-opacity-10.py-5
    .container.px-3.px-md-5
        include common/section-title
        +section-title("Услуги")
        .row.g-4
            .col-sm-12.col-md-6
                .card.shadow.border-0.rounded-4
                    .card-body.p-4.p-md-5
                        .h3.fw-bolder.text-primary.mb-4
                            span.d-inline Основные
                        table.table
                            tbody 
                                +table-item("Эвакуация лековых авто", "1500 руб")
                                +table-item("Эвакуация внедорожников (до 3т.)", "2000 руб")
                                +table-item("Эвакуация мототехники", "1000 руб")
                                +table-item("Эвакуация микроавтобусов (до 3т.)", "2000 руб")
            .col-sm-12.col-md-6
                .card.shadow.border-0.rounded-4
                    .card-body.p-4.p-md-5
                        .h3.fw-bolder.text-secondary.mb-4
                            span.d-inline Дополнительные
                        table.table
                            tbody
                                +table-item("Заблокированное колесо", "500 руб/шт")
                                +table-item("Простой эвакуатора", "500 руб/час")
                                +table-item("Ложный вызов", "1000 руб")
                                +table-item("Межгород", "50 руб/км")
                                