.d-flex.align-items-center.justify-content-center.gap-4.mt-3
    #nav-prev.button.btn.btn-lg.btn-primary
        i.bi.bi-chevron-left
    #nav-paging.swiper-pagination
    #nav-next.button.btn.btn-lg.btn-primary
        i.bi.bi-chevron-right