.py-5
    .container.px-12
        //- .row.gx-5.justify-content-center
        //-     .col-xxl-8
        //-         .text-center.my-5
        //-             h2.display-5.fw-bolder
        //-                 span.d-inline О нас
        //-             p.lead.fw-light.mb-4 My name is Start Bootstrap and I help brands grow
        include general
        include objects
        include services