section.services.mb-5
    .d-flex.align-items-center.justify-content-between.mb-4
        h2.text-primary.fw-bolder.mb-0 Услуги
    .card.shadow.border-0.rounded-4
        .card-body.p-5
            .mb-5
                .d-flex.align-items-center.mb-4
                    .services-icon.bg-primary.text-white.rounded-3.me-3
                        i.bi.bi-tools
                    h3.fw-bolder.mb-0
                        span.d-inline Основные
                ul.list-group 
                    li.list-group-item Test 1
                    li.list-group-item Test 2
                    li.list-group-item Test 3
                    li.list-group-item Test 4
            .mb-0 
                .d-flex.align-items-center.mb-4
                    .services-icon.bg-primary.text-white.rounded-3.me-3
                        i.bi.bi-tools
                    h3.fw-bolder.mb-0
                        span.d-inline Дополнительные
                ul.list-group 
                    li.list-group-item Test 1
                    li.list-group-item Test 2
                    li.list-group-item Test 3
                    li.list-group-item Test 4