.header {
    &-block-width {
        width: 75vw;
        max-width: 40rem;
        @media (min-width: 576px) {
            width: 60vw;
        }
        @media (min-width: 768px) {
            width: 50vw;
        }
        @media (min-width: 992px) {
            width: 40vw;
        }
        @media (min-width: 1200px) {
            width: 35vw;
        }
    }

    &-block-height {
        max-height: 75vw;
        @media (min-width: 576px) {
            max-height: 60vw;
        }
        @media (min-width: 768px) {
            max-height: 50vw;
        }
        @media (min-width: 992px) {
            max-height: 40vw;
        }
        @media (min-width: 1200px) {
            max-height: 35vw;
        }
    }
}